@using TicketSystemEngine;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CustomerModel
@{
    ViewData["Title"] = "Cart";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: white;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
            background-color: white;
        }
    </style>
</head>
<body>

    <h2>Cart</h2>

    <table>
        <tr>
            <th>Event</th>
            <th>Venue</th>
            <th>Seat#</th>
            <th>Date/Time</th>
            <th>Price</th>
            <th class="text-center">Delete Ticket</th>
        </tr>
        @if (Model.tickets != null)
         {
            @foreach (Ticket ticket in Model.tickets)
             {
            <tr>
                <th>@ticket.EventName</th>
                <th>@ticket.VenueName</th>
                <th>@ticket.SeatID</th>
                <th>@ticket.EventStartDateTime</th>
                <th>@ticket.TicketEventPrice kr</th>
                <td><button type="submit" class="center-block btn btn-danger" onclick="myFunction(@ticket.TicketID)">Delete</button></td>
            </tr>
             }
         }
        <tr>
            @{
                int result = 0;
                foreach (Ticket ticket in Model.tickets)
                {

                    result += ticket.TicketEventPrice;
                }

            }
            <th colspan="3"><span class="pull-right">Total Price: @result.ToString()

               </span></th>
            <th></th>
        </tr>
        <tr>
            <td><a href="Index" class="btn btn-primary">Continue Shopping</a></td>

            @{ 
                string combinedTicketsString = "";
                foreach (Ticket ticket in Model.tickets)
                {
                    if (ticket.TicketID.ToString() != Model.tickets.Last<Ticket>().ToString())
                    {

                        combinedTicketsString += ticket.TicketID.ToString() + ",";
                    }
                    else
                    {
                        combinedTicketsString += ticket.TicketID.ToString();
                    }
                }




                <td colspan="3"><button class="pull-right btn btn-success" onclick="location.href='@Url.Action("OrderAdd", "Home", new {combinedTicketsString = @combinedTicketsString})'"  type="submit">Checkout</button></td>
            }
        </tr>

    </table>
</body>
</html>

<script>
    function myFunction(TicketID) {
        var dataType = 'application/json'

        var datalist = {
        }

        $.ajax({
            type: "DELETE",
            url: "http://localhost:51775/Ticket/" + TicketID,
            dataType: "json",
            contentType: "application/json",
            data: { id: TicketID },
            async: false,
            success: function () {
                deleteTicket(TicketID);
            },
            error: function () {
                deleteTicket(TicketID);
                console.log("delete failed");
            }
        });

    };
</script>
<script>
    function deleteTicket(TicketID) {
        $.ajax({
            type: "DELETE",
            url: "/Home/DeleteTicket/" + TicketID,
            data: { id: TicketID },
            async: false,
            success: function (data) {
                console.log(data);
                console.log("ticket " + TicketID + " deleted");
                alert("Ticket Deleted");
                window.location.reload(true);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("failed xml:" + XMLHttpRequest + " text:" + textStatus + " error:" + errorThrown)
            }
        });

    }
</script>




