@using TicketSystemEngine;
@model CustomerModel

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
</head>
<body>

    <div class="container" id="container">
        <h2>@Localizer["Tickets"]</h2>

   @if (Model != null)
    {
       foreach (TicketEventDate eventDate in Model.dates)
       {
           foreach (TicketEvent ticketevent in Model.tEvent)
           {
               if (ticketevent.TicketEventId == eventDate.TicketEventID)
               {
                   foreach (Venue venue in Model.venues)
                   {
                       if (venue.VenueId == eventDate.VenueId)
                       {
                           <div class="col-lg-3 col-md-8 mb-4">
                                <div class="ticket">
                                    <img class="ticket-img-top" src="~/images/ticket-clipart-purge-clipart-ticket-85041.jpg" alt="" />
                                    <div class="ticket-body">
                                        <h4 class="ticket-title">Event: @ticketevent.EventName</h4>
                                        <p class="ticket-info">Info: @ticketevent.EventHtmlDescription</p>
                                        <p>@Localizer["Venue"]: @venue.VenueName</p>
                                        <p>@Localizer["Address"]: @venue.Address</p>
                                        <p>@Localizer["City"]: @venue.City</p>
                                        <p>@Localizer["Country"]: @venue.Country</p>
                                        <p class="ticket-price">@Localizer["Price"]: @ticketevent.TicketEventPrice kr</p>
                                    </div>
                                    <div class="ticket-footer">
                                        <label class="qtlabel" for="qt">@Localizer["Qt"]: </label>
                                        @*<input id="qt" type="number" min="1" max="5" value="selected" />*@
                                        <select name="quantity" id="qt" >
                                            {
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            }
                                        </select>
                                        <br />
                                        <br />
                                        <a href="" id="btn-cart" class="btn-cart" onclick="myFunction(
                                        @if (ticketevent.TicketEventId == eventDate.TicketEventID)
                                         {
                                             @eventDate.TicketEventDateID;
                                         })">@Localizer["Add to Cart"]</a>
                                    </div>
                                </div>
                            </div>
                       }
                   }
               }
           }
       }
    }
    </div>

</body>
</html>

<script>
    function myFunction(ticketEventDateID) {
        
        var x = $("#qt option:selected").val();
        for (var i = 0; i < x; i++)
        {
            runAjax(ticketEventDateID);
        }
        alert("Added to cart");
        document.getElementById("qt").reset();
    };
</script>
<script>
    function runAjax(ticketEventDateID)
    {
        var dataType = 'application/json'
        var datalist = {

        }
        $.ajax({
            type: "POST",
            url: "http://localhost:51775/Ticket/" + ticketEventDateID,
            dataType: 'application/json',
            contentType: dataType,
            data: datalist,
            async: false
        });
        

    }
</script>



