@using Microsoft.AspNetCore.Mvc.Localization;
@using TicketSystemEngine;
@inject IViewLocalizer Localizer
@model Order
@{
    ViewData["Title"] = "OrderAdd";
}

<h2>@Localizer["Fill in to place an Order"]</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addorder" method="post">
                <div class="form-group" method="post">
                    <label>@Localizer["First name"]</label>
                    <input class="form-control" id="FirstNameTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>@Localizer["Last name"]</label>
                    <input class="form-control" id="LastNameTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>Email</label>
                    <input class="form-control" id="EmailTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>@Localizer["Address"]</label>
                    <input class="form-control" id="AddressTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>@Localizer["City"]</label>
                    <input class="form-control" id="CityTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>@Localizer["Payment status"]</label>
                    <input class="form-control" id="PaymentStatusTxt" required />
                </div>
                @*Dont know if PaymentReferenceID is needed*@
                <div class="form-group" method="post">
                    <label>PaymentReferenceID</label>
                    <input class="form-control" id="PaymentReferenceIDTxt" required />
                </div>
                @*----------------------------------------------*@
                <div class="form-group" method="post">
                    <button type="button" class="btn-success btn-sm" id="AddOrderBtn" name="AddOrderBtn" onclick="myFunction()">Add Order</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    function myFunction() {
        var dataType = 'application/json'

        var orderInput = {
            BuyerFirstName: $("#FirstNameTxt").val(),
            BuyerLastName: $("#LastNameTxt").val(),
            BuyerEmailAddress: $("#EmailTxt").val(),
            BuyerAddress: $("#AddressTxt").val(),
            BuyerCity: $("#CityTxt").val(),
            PaymentStatus: $("#PaymentStatusTxt").val(),
            PaymentReferenceID: $("#PaymentReferenceIDTxt").val(),
        }

        $.ajax({
            type: "POST",
            url: "http://localhost:51775/Order/",
            dataType: 'application/json',
            contentType: dataType,
            data: JSON.stringify(orderInput),
            success: alertFunction()
        });

        document.getElementById("addorder").reset();
    };
</script>
<script>
    function alertFunction() {
        alert("Order Created");
    }
</script>

