@using TicketSystemEngine;
@model VenueEventModel
@{
    ViewData["Title"] = "Enter Date/Event Details";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addevent" method="post">
                <div class="form-group">
                    <label>Venue</label>
                    <select id="venues">
                        @foreach (Venue venue in Model.venues)
                         {
                                <option value="@venue.VenueId">@venue.VenueName.ToString()</option>
                         }
                    </select>
                </div>
                <div class="form-group">
                    <label>Event</label>
                    <select id="events">
                        @foreach (TicketEvent tEvent in Model.events)
                         {
                         <option value="@tEvent.TicketEventId">@tEvent.EventName.ToString()</option>
                         }
                        
                    </select>
                 </div>

                    <div class="form-group">
                        <label>Number of Seats</label>
                        <input class="form-control" id="SeatsTxt" required />
                    </div>

                    <div class="form-group">
                        <label>Date and Time</label>
                        <input class="form-control" id="EventTimeDateTime" type="datetime-local" required/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="AddDateBtn" id="AddDateBtn" name="AddDateBtn" onclick="myFunction()">Add Event</button>
                    </div>
            </form>
        </section>
    </div>
</div>

<script>
        function myFunction() {
            var dataType = 'application/json'
            
            var datalist = {
                TicketEventID: $("#events option:selected").val(),
                VenueId: $("#venues option:selected").val(),
                EventStartDateTime: $("#EventTimeDateTime").val(),
                NumberOfSeats: $("#SeatsTxt").val()
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:51775/TicketEventDate/",
                dataType: 'application/json',
                contentType: dataType,
                data: JSON.stringify(datalist),
                success: alertFunction()
            });
            
            document.getElementById("addevent").reset();
        };
</script>
<script>
        function alertFunction() {
            alert("Event Created");
        }
</script>

