@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSystemEngine;
@inject IViewLocalizer Localizer
@model List<TicketEvent>
@{
    ViewData["Title"] = "Events List";
}
<h2>@Localizer["Events List"]</h2>

<button type="button" class="btn btn-default" onclick="location.href='/Home/EventAdd'">@Localizer["Add Event(s)"]</button>


<div class="col-md-venues" column-count="3">
    @if (Model != null)
    {
        foreach (TicketEvent ticketEvent in Model)
        {
            <div class="col-md-test">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                        <div class="form-group">
                            <label>@ticketEvent.EventName</label>
                            <div class="picture">
                                <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" onclick="myFunction(@ticketEvent.TicketEventId)">@Localizer["Delete Event"]</button>
                        </div>
                    </form>
                </section>
            </div>

        }
    }
</div>

<script>
    function myFunction(eventId) {
        var dataType = 'application/json'

        var datalist = {

        }

        $.ajax({
            type: "DELETE",
            url: "http://localhost:51775/event/" + eventId,
            dataType: 'application/json',
            contentType: dataType,
            data: JSON.stringify(datalist),
            success: alertFunction()
        });
    };
</script>
<script>
    function alertFunction() {
        alert("Event Deleted");
    }
</script>