@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-venues" column-count="3">
 
        <div class="col-md-test">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group">
                        <label>EMAIL</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>PW</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>


</div>
