@model BackofficeWeb.Models.VenueModel
@{
    ViewData["Title"] = "Venues List";
}

<h2>Venues List</h2>

@*<button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("VenueAdd", "Home")">Add Venue(s)</button>*@


<div class="col-md-venues" column-count="3">
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                <div class="form-group">
                    <label>SlothVenueName1</label>
                    <div class="picture">
                        <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">View/Edit Venue</button>
                </div>
            </form>
        </section>
    </div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName2</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName3</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName4</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName5</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName6</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div>
    <div class="col-md-test">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                <div class="form-group">
                    <label>SlothVenueName7</label>
                    <div class="picture">
                        <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">View/Edit Venue</button>
                </div>
            </form>
        </section>
    </div><div class="col-md-test">
    <section>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
            <div class="form-group">
                <label>SlothVenueName8</label>
                <div class="picture">
                    <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">View/Edit Venue</button>
            </div>
        </form>
    </section>
</div>
</div>
