@using TicketSystemEngine;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Venue>
@{
    ViewData["Title"] = "Venues List";
}
<h2>@Localizer["Venues List"]</h2>

<button type="button" class="btn btn-default" onclick="location.href='/Home/VenueAdd'">@Localizer["Add Venue(s)"]</button>


<div class="col-md-venues" column-count="3">
    @if (Model != null)
    {
        foreach (Venue venue in Model)
        {
            <div class="col-md-test">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                        <div class="form-group">
                            <label>@venue.VenueName</label>
                            <div class="picture">
                                <img class="venueimg" src="https://i.pinimg.com/736x/54/72/b6/5472b6c2b81b0a25daed044db5646b77--sloth-humor-sloth-memes.jpg">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" onclick="myFunction(@venue.VenueId)">@Localizer["Delete Venue"]</button>
                        </div>
                    </form>
                </section>
            </div>

        }
    }
</div>

<script>
    function myFunction(venueId) {
        var dataType = 'application/json'

        var datalist = {

        }

        $.ajax({
            type: "DELETE",
            url: "http://localhost:51775/venue/" + venueId,
            dataType: 'application/json',
            contentType: dataType,
            data: JSON.stringify(datalist),
            success: alertFunction()
        });
    };
</script>
<script>
    function alertFunction() {
        alert("Venue Deleted");
    }
</script>

